extends layout
block content
  h1 Create User
  .row
    .col
    #div_registro
      h3 Registro
        p codigo
          input#but_submit_solicitarCodigo(type='button', value='Solicitar codigo', name='but_submit')
          input#txt_correo_registro.textbox(type='text', name='txt_email', placeholder='Correo')
          input#txt_codigo_registro.textbox(type='text', name='txt_uname', placeholder='codigo')
          input#but_submit_enviarCodigo(type='button', value='Enviar Codigo', name='but_submit')
        p registro
          input#txt_user_registro.textbox(type='text', name='txt_uname', placeholder='username')
          input#txt_email_registro.textbox(type='text', name='txt_pwd', placeholder='email')
          input#txt_pass_registro.textbox(type='password', name='txt_pwd', placeholder='Password')
          input#but_submit_registro(type='button', value='Registrarse', name='but_submit')
  div
    button(onclick="window.location.href='/'") Main Page
    button(onclick="window.location.href='/AccountCreation'") Create Account
    button(onclick="window.location.href='/accountDelete'") Delete Account